/*FONT*/
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Economica);
/*CONFIG*/
* {
    font-weight: normal;
}

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Economica', sans-serif;
}

body {
    background-color: #ccc;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px 1px rgba(0,0,0,0.005) !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}


/*HEADER*/
.header {
    margin: 0 auto;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.header__button-action {
    display: block;
}

.header__nav {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 0;
    width: 100%;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}

.header__toggled {
    display: block;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__ul-items {
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
}

.header__li-item {
    display: block;
}

.header__anchor {
    font-size: 1.250em;
    color: #fff;
    padding: 1em 0;
    font-weight: 300;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.header__text {
    padding: 0 6px 3px;
}

.header__anchor:hover .header__text {
    border-bottom: 2px solid #E03C4C;
}

.header__burguer {
    margin: 1.125em;
    width: 3.250em;
    height: 2.250em;
    position: absolute;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 30;
}

    .header__burguer:hover {
        cursor: pointer;
        -webkit-opacity: 0.45;
        -moz-opacity: 0.45;
        opacity: 0.45;
    }

.header__toggled .header__li-burguers {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
}

    .header__toggled .header__li-burguers:last-child {
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }

.header__ul-burguer {
    width: 1.625em;
    height: 1.625em;
    list-style: none;
    margin: -0.8125em 0 0 -0.8125em;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
}

.header__li-burguers {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}

    .header__li-burguers:last-child {
        -webkit-transform: translateY(3.75px) translateZ(0);
        transform: translateY(3.75px) translateZ(0);
    }

@media screen and (min-width: 730px) {

    .header {
        height: 100px;
    }

    .header__li-item {
        display: inline-block;
        margin: 0 25px;
    }

    .header__ul-items {
        background-color: transparent;
    }

    .header__button-action {
        display: none;
    }

    .header__nav {
        top: -5px;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    .header__text {
        padding: 0 6px 41px;
    }

    .header__anchor:hover .header__text {
        border-bottom: 7px solid #E03C4C;
    }

    .header_anchor-active {
        border-bottom: 7px solid #E03C4C;
    }
}

/*START*/
.start {
    background-image: url("../img/bg/bg-main.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
}


.start__title {
    font-family: 'Six Caps', sans-serif;
    border: 3px solid #fff;
    padding: 15px;
    font-size: 4.3em;
    letter-spacing: 10px;
}

.start__sub-title {
    letter-spacing: 3px;
}

.start__redes {
    width: 35px;
    margin: 0 10px;
}

.start__arrow {
    position: absolute;
    color: #fff;
    font-size: 30px;
    bottom: 25px;
    left: 49%;
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 30px;
    height: 30px;
    -webkit-animation-name: updown;
    animation-name: updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes updown {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0) rotate(45deg);
    }

    40% {
        -webkit-transform: translateY(-30px) rotate(45deg);
    }

    60% {
        -webkit-transform: translateY(-15px) rotate(45deg);
    }
}

@keyframes updown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }

    40% {
        transform: translateY(-30px) rotate(45deg);
    }

    60% {
        transform: translateY(-15px) rotate(45deg);
    }
}

@media screen and (min-width: 730px) {
    .start {
        min-height: 855px;
    }

    .start__title {
        font-size: 6.8em;
        margin-bottom: 25px;
    }

    .start__sub-title {
        font-size: 2em;
    }

    .start {
        background-attachment: fixed;
    }
}

@media screen and (max-width: 315px) {
    .start__title {
        font-size: 3em;
    }
}

/*ABOUT*/
.about {
    background-image: url("../img/bg/bg-about.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
}

.about__title {
    font-size: 2.3em;
    color: #fff;
}

.about__link {
    color: #FFBD8E;
}

.about__first-hr,
.about__second-hr {
    width: 30%;
    border: 0 none;
    color: #fff;
    height: 2px;
    background-color: #fff;
}

.about__text {
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.7em;
    margin: 2% 18%;
}

.about__second-hr {
    margin-bottom: 100px;
}

@media screen and (min-width: 730px) {
    .about__title {
        font-size: 3em;
        color: #fff;
    }

    .about__text {
        font-size: 1.5em;
    }
}

/*FORMATION*/
.formation {
    background-color: #fff;
    min-height: 700px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formation__title {
    font-size: 2.3em;
    color: #e13d4d;
}


.formation__container-courses {
    display: flex;
    flex-direction: column;
    margin: 4% 10% 0;
}

.formation__first-container,
.formation__second-container {
    width: 100%;
}

.formation__first-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: auto;
}

.formation__second-container {
    height: auto;
}

.formation__center,
.formation__divider {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.formation__center {
    height: 100%;
    margin-top: 25px;
}

.formation_icon-center,
.formation_icon {
    max-width: 90px;
    margin: 0 auto;
}

.formation__course-description {
    font-size: 1.5em;
    text-align: center;
}

    .formation__course-description div:first-child {
        font-weight: bolder;
    }


@media screen and (min-width: 730px) {

    .formation__title {
        font-size: 3em;
        margin-top: 100px;
    }

    .formation__container-courses {
        flex-direction: row;
    }

    .formation__first-container,
    .formation__second-container {
        width: 50%;
    }

    .formation__first-container {
        height: 400px;
    }

    .formation__second-container {
        border-left: 4px solid black;
        height: 370px;
    }

    .formation__center,
    .formation__divider {
        justify-content: center;
        flex-direction: row;
        height: 50%;
        margin: 0 20px;
    }

    .formation__center {
        margin-top: 0;
        height: 100%;
    }

    .formation_icon-center,
    .formation_icon {
        margin-right: 25px;
    }

    .formation_icon-center {
        margin-left: 50px;
    }

    .formation__course-description {
        text-align: left;
    }

    .formation__fix-align {
        margin-left: -47px;
    }
}

/*SKILLS*/
.skills {
    background-color: #000;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.skills__title {
    font-size: 2.3em;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15% 11%;
}

.skills__container-bars {
    width: 100%;
}

.skills__container-slider {
    display: none;
}

.skills__title-info {
    margin-bottom: 0;
}

.skills__progressbar {
    height: 17px;
    background-color: #e23b4c;
    width: 80%;
    display: inline-block;
}

.skills__percent {
    padding-left: 5px;
}

.skills__complement {
    font-size: .9em;
    display: block;
}

@media screen and (min-width: 730px) {

    .skills__title {
        font-size: 3em;
        margin-top: 100px;
    }

    .skills__container {
        flex-direction: row;
        padding: 0 18% 11%;
    }

    .skills__container-bars {
        width: 50%;
    }


    .skills__complement {
        display: none;
    }

    .skills__container-slider {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .box {
        width: 10px;
        height: 10px;
        background-color: #fff;
    }
}

/*FOOTER*/
.footer {
    background-color: #e23b4c;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 1.2em;
}

/*COMPONENTS*/
/*SLIDER*/
.gallery .control-operator:target ~ .controls .control-button {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5),
.gallery .control-operator:nth-of-type(6):target ~ .controls .control-button:nth-of-type(6),
.gallery .control-operator:nth-of-type(7):target ~ .controls .control-button:nth-of-type(7) {
    color: white;
    color: rgba(255, 255, 255, 0.8);
}

.gallery .item:first-of-type {
    position: static;
    pointer-events: auto;
    opacity: 1;
}

.gallery .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.gallery .control-operator {
    display: none;
}

    .gallery .control-operator:target ~ .item {
        pointer-events: none;
        opacity: 0;
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
    }

    .gallery .control-operator:target ~ .controls .control-button {
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
    }

@-webkit-keyframes controlAnimation-2 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    14.3%, 50% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    64.3%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-2 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    14.3%, 50% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    64.3%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-2 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    14.3%, 50% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    64.3%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-2 {
    0% {
        opacity: 0;
    }

    14.3%, 50% {
        opacity: 1;
    }

    64.3%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-2 {
    0% {
        opacity: 0;
    }

    14.3%, 50% {
        opacity: 1;
    }

    64.3%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-2 {
    0% {
        opacity: 0;
    }

    14.3%, 50% {
        opacity: 1;
    }

    64.3%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.items-2.autoplay .control-button {
    -webkit-animation: controlAnimation-2 14s infinite;
    -o-animation: controlAnimation-2 14s infinite;
    animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
    -webkit-animation: galleryAnimation-2 14s infinite;
    -o-animation: galleryAnimation-2 14s infinite;
    animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

@-webkit-keyframes controlAnimation-3 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    9.5%, 33.3% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    42.9%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-3 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    9.5%, 33.3% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    42.9%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-3 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    9.5%, 33.3% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    42.9%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-3 {
    0% {
        opacity: 0;
    }

    9.5%, 33.3% {
        opacity: 1;
    }

    42.9%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-3 {
    0% {
        opacity: 0;
    }

    9.5%, 33.3% {
        opacity: 1;
    }

    42.9%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-3 {
    0% {
        opacity: 0;
    }

    9.5%, 33.3% {
        opacity: 1;
    }

    42.9%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
}

.items-3.autoplay .control-button {
    -webkit-animation: controlAnimation-3 21s infinite;
    -o-animation: controlAnimation-3 21s infinite;
    animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
    -webkit-animation: galleryAnimation-3 21s infinite;
    -o-animation: galleryAnimation-3 21s infinite;
    animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

@-webkit-keyframes controlAnimation-4 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    7.1%, 25% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    32.1%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-4 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    7.1%, 25% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    32.1%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-4 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    7.1%, 25% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    32.1%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-4 {
    0% {
        opacity: 0;
    }

    7.1%, 25% {
        opacity: 1;
    }

    32.1%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-4 {
    0% {
        opacity: 0;
    }

    7.1%, 25% {
        opacity: 1;
    }

    32.1%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-4 {
    0% {
        opacity: 0;
    }

    7.1%, 25% {
        opacity: 1;
    }

    32.1%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
}

.items-4.autoplay .control-button {
    -webkit-animation: controlAnimation-4 28s infinite;
    -o-animation: controlAnimation-4 28s infinite;
    animation: controlAnimation-4 28s infinite;
}

.items-4.autoplay .item {
    -webkit-animation: galleryAnimation-4 28s infinite;
    -o-animation: galleryAnimation-4 28s infinite;
    animation: galleryAnimation-4 28s infinite;
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
    -webkit-animation-delay: 19s;
    -o-animation-delay: 19s;
    animation-delay: 19s;
}

@-webkit-keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-5 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-5 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-5 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
    pointer-events: auto;
    opacity: 1;
}

.items-5.autoplay .control-button {
    -webkit-animation: controlAnimation-5 35s infinite;
    -o-animation: controlAnimation-5 35s infinite;
    animation: controlAnimation-5 35s infinite;
}

.items-5.autoplay .item {
    -webkit-animation: galleryAnimation-5 35s infinite;
    -o-animation: galleryAnimation-5 35s infinite;
    animation: galleryAnimation-5 35s infinite;
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
    -webkit-animation-delay: 19s;
    -o-animation-delay: 19s;
    animation-delay: 19s;
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
    -webkit-animation-delay: 26s;
    -o-animation-delay: 26s;
    animation-delay: 26s;
}

@-webkit-keyframes controlAnimation-6 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-6 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-6 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-6 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-6 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(6):target ~ .item:nth-of-type(6) {
    pointer-events: auto;
    opacity: 1;
}

.items-6.autoplay .control-button {
    -webkit-animation: controlAnimation-6 35s infinite;
    -o-animation: controlAnimation-6 35s infinite;
    animation: controlAnimation-6 35s infinite;
}

.items-6.autoplay .item {
    -webkit-animation: galleryAnimation-6 35s infinite;
    -o-animation: galleryAnimation-6 35s infinite;
    animation: galleryAnimation-6 35s infinite;
}

.items-6 .control-button:nth-of-type(1),
.items-6 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-6 .control-button:nth-of-type(2),
.items-6 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

@-webkit-keyframes controlAnimation-7 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-o-keyframes controlAnimation-7 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

    5.7%, 20% {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }

    25.7%, 100% {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }
}

@-webkit-keyframes galleryAnimation-7 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@-o-keyframes galleryAnimation-7 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

@keyframes galleryAnimation-7 {
    0% {
        opacity: 0;
    }

    5.7%, 20% {
        opacity: 1;
    }

    25.7%, 100% {
        opacity: 0;
    }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
}

.gallery .control-operator:nth-of-type(7):target ~ .item:nth-of-type(7) {
    pointer-events: auto;
    opacity: 1;
}

.items-7.autoplay .control-button {
    -webkit-animation: controlAnimation-7 35s infinite;
    -o-animation: controlAnimation-7 35s infinite;
    animation: controlAnimation-7 35s infinite;
}

.items-7.autoplay .item {
    -webkit-animation: galleryAnimation-7 35s infinite;
    -o-animation: galleryAnimation-7 35s infinite;
    animation: galleryAnimation-7 35s infinite;
}

.items-7 .control-button:nth-of-type(1),
.items-7 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.items-7 .control-button:nth-of-type(2),
.items-7 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.gallery .control-button {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
}

    .gallery .control-button:hover {
        color: white;
        color: rgba(255, 255, 255, 0.8);
    }


.gallery {
    position: relative;
}

    .gallery .item {
        height: 400px;
        overflow: hidden;
        text-align: center;
        background: #4d87e2;
    }

    .gallery .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .gallery .control-button {
        display: inline-block;
        margin: 0 .02em;
        font-size: 3em;
        text-align: center;
        text-decoration: none;
        -webkit-transition: color .1s;
        -o-transition: color .1s;
        transition: color .1s;
    }

    /*THEME SLIDER*/
    .gallery .control-button {
        color: #ccc;
        color: rgba(255, 255, 255, 0.4);
    }

        .gallery .control-button:hover {
            color: white;
            color: rgba(255, 255, 255, 0.8);
        }

.gallery {
    position: relative;
    width: 395px;
    top: 30px;
}

    .gallery .item {
        height: 400px;
        overflow: hidden;
        text-align: center;
        background: transparent;
    }

    .gallery .controls {
        position: absolute;
        bottom: 70px;
        width: 100%;
        text-align: center;
        left: 40px;
    }

    .gallery .control-button {
        display: inline-block;
        margin: 0 .02em;
        font-size: 3em;
        text-align: center;
        text-decoration: none;
        transition: color .1s;
    }

.skills_icon {
    max-width: 200px;
    margin-top: 40px;
}
